@model WebNoticias.Models.ViewModels.VerNoticiaViewModel
@{
    Layout = "Layout";
}
<style>
    section {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 0.4fr;
        grid-template-rows: auto 1fr;
    }

        section h6 {
            grid-column: 1 / 2;
            font-size: 1.5rem;
            color: #333;
            text-align: center;
            margin-bottom: -20px;
            transition: color 0.3s ease-in-out;
        }

            section h6:hover {
                color: #ff4500;
            }

    .noticia {
        grid-row: 2;
        height: 100%;
        padding: 20px;
        margin-top: 20px; /* Añadido margen superior */
    }

        .noticia img {
            width: 100%;
            max-height: 500px; /* Ajustado tamaño máximo de la imagen */
            object-fit: cover;
            border-radius: 10px;
            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, filter 0.5s ease-in-out;
        }

            .noticia img:hover {
                transform: scale(1.1);
                opacity: 0.8;
                filter: blur(5px);
            }

    .info {
        background-color: #f4f4f4;
        display: flex;
        flex-direction: column;
        height: calc(100% - 710px);
        padding: 20px;
        border-radius: 10px;
    }

        .info p {
            margin: 0;
            font-size: 18px;
            line-height: 1.6;
        }

        .info .Autor,
        .info .Fecha,
        .info .vistas {
            margin-bottom: 10px;
            font-size: 14px;
            color: #555;
        }

    .vistas {
        display: flex;
        align-items: center;
    }

        .vistas i {
            margin-right: 5px;
        }

    .noticiadeldia {
        grid-row: 2;
        grid-column: 2;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }

        .noticiadeldia h3 {
            padding: 0;
            border-bottom: 1px solid #333;
            padding-bottom: 20px;
            font-size: 1.8rem;
        }

        .noticiadeldia .Noticia {
            margin: 20px auto;
            width: 100%;
        }

            .noticiadeldia .Noticia img {
                width: 95%;
                border-radius: 8px;
                margin-top: 10px;
                margin-right: 10px;
                margin-left: 10px;
                transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
            }

                .noticiadeldia .Noticia img:hover {
                    transform: rotate(15deg);
                    opacity: 0.8;
                }
    .Info {
        flex-grow: 1;
    }

        .Info p {
            margin: 0;
            font-size: 1rem;
        }

    .noticia-title {
        font-size: 2.5rem;
        color: #222;
        margin-bottom: 75px;
        text-align: center;
        transition: color 0.3s ease-in-out;
    }

        .noticia-title:hover {
            color: #ff4500;
        }

    .noticia-caption {
        font-size: 1.5rem;
        color: #888;
        margin-bottom: 15px;
        text-align: center;
        transition: color 0.3s ease-in-out;
    }

        .noticia-caption:hover {
            color: #555;
        }

</style>
<section>
    <h6>@Model.Titulo - @Model.Caption</h6>
    <div class="noticia">
        <img src="~/Noticias/@(Model.Id).png" id="imagen">
        <div class="info">
            <span class="Autor">
                Categoria:   @Model.Categoría
            </span>
            <span class="Fecha">
                Fecha:   @Model.Fecha
            </span>
            <div class="vistas">
                Vistas:  <i class="fa-solid fa-eye"></i> @Model.Vistas
            </div>
            <p>
                @Model.Contenido
            </p>
        </div>
    </div>
    <div class="noticiadeldia">
        <h3>Noticia Del Día</h3>
        <div class="Noticia">
            @if (Model.OtrasNoticias != null)
            {
                int x = 0;
                foreach (var n in Model.OtrasNoticias)
                {
                    <a href="~/VerNoticia/@(n.Categoria.Replace(' ','-'))/@(n.Titulo.Replace(' ','-'))" class="foto">
                        <img src="~/Noticias/@(n.Id).png">
                    </a>
                    <div class="Info">
                        <p>@n.Titulo</p>
                        <p class="Fecha">@n.Fecha</p>
                    </div>
                    @if (x < Model.OtrasNoticias.Count() - 1)
                    {
                        <hr />
                    }
                    x++;
                }
            }
        </div>
    </div>
</section>